
    <div class="main">
      <h3>Create a free KSPAS account</h3>
      <div class="alert alert-danger" *ngIf="serverError">
        <a href="javascript:void(0)" class="pull-right" (click)="closeServerError()">&times;</a>
        <div *ngFor="let errorMessage of errorMessages" >
          <p [innerHTML]="errorMessage"></p>
        </div>
      </div>
      <div class="alert alert-success" *ngIf="serverSuccess">
          <a href="#" class="pull-right" (click)="closeServerSuccess()">&times;</a>
          <strong>Success:</strong> Please check your email, we have sent you a link to create a new password.
        </div>
      <form role="form" [formGroup] ="rForm"  (ngSubmit)="register(rForm.value)">
        <div class="form-group">
            <div>
                <label for="cellphone">Cellphone</label>
            </div>
            <div>
                <input type="text" class="form-control" formControlName="cellphone" placeholder="Enter cellphone number">
            </div>

            <div>
                <label for="telephone">Telephone</label>
            </div>
            <div>
               <input type="text" class="form-control" formControlName="telephone" placeholder="Enter telephone number">
            </div>
        </div>
            
             
        <!-- <div class="form-group">
          <label for="cellphone">Cellphone</label>
          <input type="text" class="form-control" formControlName="cellphone" placeholder="Enter cellphone number">
        </div>
        <div class="form-group">
          <label for="telephone">Telephone</label>
          <input type="text" class="form-control" formControlName="telephone" placeholder="Enter telephone number">
        </div>
        <div class="form-group">
          <label for="address">ID number</label>
          <input type="text" class="form-control" formControlName="idNumber" placeholder="Enter ID number">
        </div>
        <div class="form-group">
          <label for="telephone">Home address</label>
          <input type="text" class="form-control" formControlName="address" placeholder="Enter address">
        </div>
        <div class="form-group">
          <label for="telephone">Occupation</label>
          <input type="text" class="form-control" formControlName="occupation" placeholder="Enter occupation">
        </div>
        <div class="form-group">
          <label for="telephone">firstName</label>
          <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name">
        </div>
        <div class="form-group">
            <label for="telephone">lastName</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name">
          </div>
        <div class="form-group">
          <label for="inputUsernameEmail">Username</label>
          <input type="text" class="form-control" appAutofocus formControlName="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="inputPassword">E-mail</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Enter email address">
        </div> -->
        <button type="submit" class="btn btn-lg btn-danger btn-block" [disabled]="!rForm.valid">
          Sign up
        </button>
      </form>

      <div class="row">
        <p>&nbsp;</p>
        <p class="text-center">
            By clicking the 'Sign Up' button, you confirm that you accept our
            Terms of use and Privacy Policy.
        </p>
        <p class="text-center">
            Have an account? <a href="javascript:void(0)" routerLink="/login" >Log In here </a>
        </p>

      </div>
      <div class="loading" *ngIf="spinnerLoading">Loading&#8230;</div>
<!-- {{ formObj | json}} -->
