
    <div class="main">
      <h3>Create a free KSPAS account</h3>
      <div class="alert alert-danger" *ngIf="serverError">
        <a href="javascript:void(0)" class="pull-right" (click)="closeServerError()">&times;</a>
        <div *ngFor="let errorMessage of errorMessages" >
          <p [innerHTML]="errorMessage"></p>
        </div>
      </div>
      <div class="alert alert-success" *ngIf="serverSuccess">
          <a href="#" class="pull-right" (click)="closeServerSuccess()">&times;</a>
          <strong>Success:</strong> Please check your email, we have sent you a link to create a new password.
        </div>
      <form role="form" [formGroup] ="rForm"  (ngSubmit)="register(rForm.value)">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" appAutofocus formControlName="username" placeholder="username">
            </div>

            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" formControlName="email" placeholder="email address">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="firstname">Firstname</label>
                <input type="text" class="form-control" formControlName="firstName" placeholder="first name">
            </div>

            <div class="form-group col-md-6">
                <label for="lastname">Lastname</label>
                <input type="text" class="form-control" formControlName="lastName" placeholder="last name">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="idNumber">ID number</label>
                <input type="text" class="form-control" formControlName="idNumber" maxlength="13" (keypress)="keyPress($event)" placeholder="ID number">
            </div>

            <div class="form-group col-md-6">
                <label for="occupation">Occupation</label>
                <input type="text" class="form-control" formControlName="occupation" placeholder="occupation">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cellphone">Cellphone number</label>
                <input type="text" class="form-control" formControlName="cellphone" minlength="10" maxlength="10" (keypress)="keyPress($event)" placeholder="cellphone number">
            </div>

            <div class="form-group col-md-6">
                <label for="telephone">Contact number</label>
               <input type="text" class="form-control" formControlName="telephone" minlength="10" maxlength="10" (keypress)="keyPress($event)" placeholder="telephone number">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="address">Home address</label>
                <input type="text" class="form-control" formControlName="address" placeholder="address">
            </div>

            <!-- <div class="form-group col-md-6">
                <label for="telephone">Telephone</label>
               <input type="text" class="form-control" formControlName="telephone" placeholder="telephone number">
            </div> -->
        </div>
            
        <button type="submit" class="btn btn-lg btn-danger btn-block" [disabled]="!rForm.valid">
          Sign up
        </button>
      </form>

      <div class="row">
        <p>&nbsp;</p>
        <p class="text-center">
            By clicking the 'Sign Up' button, you confirm that you accept our
            Terms of use and Privacy Policy.
        </p>
        <p class="text-center">
            Have an account? <a href="javascript:void(0)" routerLink="/login" >Log In here </a>
        </p>

      </div>
      <div class="loading" *ngIf="spinnerLoading">Loading&#8230;</div>
<!-- {{ formObj | json}} -->
