<div class="alert alert-success" *ngIf="userUpdated">
    <a href="#" class="pull-right">&times;</a>
    <strong>Success:</strong> User was added successfully.
  </div>
<div class="panel panel-default panel-table">
<div class="panel-heading">
  <div class="row">
    <div class="col-md-6 text-left"  id="custom-search-form" >
        <!--<form id="custom-search-form" class="form-search form-horizontal pull-left">-->
            <div class="input-append span12">
                <input type="text" class="search-query mac-style" placeholder="Search" (input)="onSearchChange($event.target.value)">
                <button type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        <!--</form>-->
      </div>
    <div class="col-md-6 text-right">
      <a routerLink="/admin/new-user" class="btn btn-sm btn-primary btn-create">
        <i class="glyphicon glyphicon-plus"></i>
        Create New
      </a>
    </div>
  </div>
</div>
<div class="panel-body table-responsive">
  <table class="table table-striped table-bordered table-list">
    <thead>
      <tr>
          <th><em class="fa fa-cog"></em></th>
          <th>Name</th>
          <th>ID number</th>
          <th>Cellphone</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td align="center">
            <a class="btn btn-primary actions" (click)="openModal(template, i)"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a class="btn btn-default actions" (click)="openModal(templateEdit, i, 'edit')"><i class="glyphicon glyphicon-pencil"></i></a>
            <!-- <a class="btn btn-danger actions"><i class="glyphicon glyphicon-trash"></i></a> -->
          </td>
          <td>{{user.custom_field_first_name[0]}} {{user.custom_field_last_name[0]}}</td>
          <td>{{user.custom_field_idnumber[0]}}</td>
          <td>{{user.custom_field_cellphone[0]}}</td>
        </tr>
    </tbody>
  </table>

</div>
<div class="panel-footer">
  <div class="row">
    <div class="col col-xs-4">Page {{configTable.currentPage}} of {{configTable.totalPages.length}}
    </div>
    <div class="col col-xs-8">
      <ul class="pagination hidden-xs pull-right">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
      </ul>
      <ul class="pagination visible-xs pull-right">
          <li><a href="#">«</a></li>
          <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>
</div>

<!--  MODAL DIALOG -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Users Profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
        <li class="list-group-item text-right" *ngIf="userData.username">
            <span class="pull-left"><strong>Username: </strong></span> {{userData.username}}
          </li>
      <li class="list-group-item text-right" *ngIf="userData.lastName">
        <span class="pull-left"><strong>First name: </strong></span> {{userData.firstName}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.lastName">
        <span class="pull-left"><strong>Last name: </strong></span> {{userData.lastName}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.email">
        <span class="pull-left"><strong>Email: </strong></span> {{userData.email}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.cellphone">
        <span class="pull-left"><strong>Cellphone: </strong></span> {{userData.cellphone}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.telephone">
        <span class="pull-left"><strong>Telephone: </strong></span> {{userData.telephone}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.address">
        <span class="pull-left"><strong>Address: </strong></span> {{userData.address}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.occupation">
        <span class="pull-left"><strong>Occupation: </strong></span> {{userData.occupation}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.groceryBenefit">
        <span class="pull-left"><strong>Grocery benefit: </strong></span> {{userData.groceryBenefit}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.societyBenefit">
        <span class="pull-left"><strong>Society benefit: </strong></span> {{userData.societyBenefit}}
      </li>
      <li class="list-group-item text-right" *ngIf="userData.regDate">
          <span class="pull-left"><strong>Member since: </strong></span> {{userData.regDate}}
        </li>
    </ul>
  </div>
</ng-template>


<!--  MODAL DIALOG -->
<ng-template #templateEdit>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Users Profile</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form role="form" [formGroup] ="rForm"  (ngSubmit)="updateUser(rForm.value)">
        <div class="form-group">
            <input disabled="disabled" type="name" class="form-control" value="user" placeholder="Username" appAutofocus formControlName="username">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="First Name" appAutofocus formControlName="first_name">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Last name" appAutofocus formControlName="last_name">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Occupation" appAutofocus formControlName="occupation">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Telephone" appAutofocus formControlName="telephone">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Cellphone" appAutofocus formControlName="cellphone">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Address" appAutofocus formControlName="address">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="ID Number" appAutofocus formControlName="id_number">
        </div>
        <div class="form-group">
            <input type="email" class="form-control"  placeholder="Enter email" appAutofocus formControlName="email">
        </div>
        <legend>Benefits</legend>
        <div class="form-group clearfix">
          <span class="pull-left">Society benefit</span>
          <label class="switch pull-left">
            <input type="checkbox" [checked]="rForm.controls['society_benefit'].value" formControlName="society_benefit">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="form-group clearfix">
          <span class="pull-left">Grocery benefit</span>
          <label class="switch pull-left">
            <input type="checkbox" [checked]="rForm.controls['grocery_benefit'].value" formControlName="grocery_benefit">
            <span class="slider round"></span>
          </label>
        </div>
        <div class="form-group clearfix">
          <div class="btn-group pull-right">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
            <a href="javascript:void(0)" class="btn btn-danger" (click)="modalRef.hide()"><i class="glyphicon glyphicon-remove"></i> Cancel</a>
          </div>
        </div>
        <!-- {{ formObj | json}} -->
      </form>
  </div>
</ng-template>

