<div class="col-md-6 no-pad-left">
  <ul class="list-group">
    <li class="list-group-item text-muted">
      Member since {{userData.data.user_registered}} status: Active
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Username: </strong></span> {{userData.data.user_login}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.firstName">
      <span class="pull-left"><strong>Name: </strong></span> {{profile.firstName}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.lastName">
      <span class="pull-left"><strong>Last name: </strong></span> {{profile.lastName}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.cellphone">
      <span class="pull-left"><strong>Cellphone:</strong></span> {{profile.cellphone}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.idNumber">
      <span class="pull-left"><strong>ID number:</strong></span> {{profile.idNumber}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.occupation">
      <span class="pull-left"><strong>Occupation:</strong></span> {{profile.occupation}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.telephone">
      <span class="pull-left"><strong>Telephone:</strong></span> {{profile.telephone}}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.societyBenefit">
      <span class="pull-left"><strong>Society benefit:</strong></span> {{ profile.societyBenefit === 'true' ? 'Yes' : 'No'  }}
    </li>
    <li class="list-group-item text-right" *ngIf="profile.groceryBenefit">
      <span class="pull-left"><strong>Grocery benefit:</strong></span> {{profile.groceryBenefit === 'true' ? 'Yes' : 'No' }}
    </li>
  </ul>
</div>
