<div class="col-md-6 no-pad-left">
  <ul class="list-group">
    <li class="list-group-item text-muted">
      Member since {{userData.data.user_registered}}
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Username: </strong></span> {{userData.data.user_login}}
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Name: </strong></span> {{userData.data.display_name}}
    </li>
    <li class="list-group-item text-right">
      <span class="pull-left"><strong>Email: </strong></span> {{userData.data.user_email}}
    </li>
    <li class="list-group-item text-right"  *ngFor="let data of user">
      <span class="pull-left"><strong>{{data.LABEL}}</strong></span> {{data.VALUE}}
    </li>
  </ul>
</div>
