<div class="col-md-6">
  <ul class="list-group">
    <li class="list-group-item text-muted">Profilo</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Nome</strong></span> Andrea</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Email</strong></span> andrearossi.it</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Telefono</strong></span> +391236669992</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Ultimo accesso</strong></span> 23/07/2016</li>
    
  </ul> 
</div>