
<div class="col-md-6 no-padding-left" >
    <div class="form-area">
      <h2>Add new dependent</h2>
      <form role="form" [formGroup] ="rForm"  (ngSubmit)="addDependent(rForm.value)">
        <div class="form-group">
            <input type="name" class="form-control" placeholder="First Name" formControlName="firstName">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Last name" formControlName="lastName">
        </div>
        <div class="form-group">
            <input type="name" class="form-control" placeholder="Id number" formControlName="idNumber">
        </div>
        <div class="form-group">
            <!--<input type="name" class="form-control" placeholder="Date of birth" formControlName="dateOfBirth">-->
            <input type="date" class="form-control" placeholder="Date of birth" formControlName="dateOfBirth" />
        </div>
        <div class="form-group">
            <!--<input type="name" class="form-control" placeholder="Dependented Type" formControlName="dependentType">-->
            <select class="form-control" formControlName="dependentType">
              <option value="" disabled selected>Select your option</option>
              <option value="1">Spouse</option>
            </select>
        </div>
        <div class="form-group">
            <!--<input type="name" class="form-control" placeholder="Main member Id" formControlName="mainMemberID">-->
            <input list="dependents" name="browser" class="form-control" formControlName="mainMemberID">
            <datalist id="dependents">
              <option value="Thabo Makwea">
              <option value="Mpho Maleka">
              <option value="Tumelo Mahlagani">
              <option value="Seipei Mathole">
              <option value="Ayanda Brits">
            </datalist>
            <!--<select class="form-control" formControlName="mainMemberID">
              <option value="" disabled selected>Select your option</option>
              <option value="1">1</option>
            </select>-->
        </div>
        <div class="btn-group">
          <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Save</button>
          <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
        </div>
      </form>
    </div>
</div>
<div class="col-md-6">
  {{ formObj | json}}
</div>
